{
    "swagger": "2.0",
    "info": {
        "description": "This is Project-Hus's root authentication server containing each user's UUID, which is unique for all hus services.",
        "title": "Project-Hus auth server",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {
            "name": "API Support",
            "url": "lifthus531@gmail.com",
            "email": "lifthus531@gmail.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "0.0.0"
    },
    "host": "lifthus.com",
    "basePath": "/auth",
    "paths": {
        "/sign": {
            "post": {
                "description": "get string by ID",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "users"
                ],
                "summary": "Show an account",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Account ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "300": {
                        "description": "/sign"
                    },
                    "400": {
                        "description": "Bad Request"
                    }
                }
            }
        }
    }
}