{
    "swagger": "2.0",
    "info": {
        "description": "This is Project-Hus's root authentication server containing each user's UUID, which is unique for all hus services.",
        "title": "Project-Hus auth server",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {
            "name": "API Support",
            "url": "lifthus531@gmail.com",
            "email": "lifthus531@gmail.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "0.0.0"
    },
    "host": "lifthus.com",
    "basePath": "/auth",
    "paths": {
        "/auth/access": {
            "get": {
                "description": "validates the google ID token and redirects with hus refresh token to /auth/{token_string}.",
                "tags": [
                    "auth"
                ],
                "summary": "gets refresh token in the header and returns access token after validation.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Refresh token",
                        "name": "jwt",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Access token created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/auth/google": {
            "post": {
                "description": "validates the google ID token and redirects with hus refresh token to /auth/{token_string}.",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "auth"
                ],
                "summary": "processes google auth and redirect with refresh token in url.",
                "parameters": [
                    {
                        "description": "Google ID token",
                        "name": "jwt",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "301": {
                        "description": "to /auth/{token_string}"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        }
    }
}