{
    "swagger": "2.0",
    "info": {
        "description": "This is Project-Hus's root authentication server containing each user's UUID, which is unique for all hus services.",
        "title": "Project-Hus auth server",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {
            "name": "API Support",
            "url": "lifthus531@gmail.com",
            "email": "lifthus531@gmail.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "0.0.0"
    },
    "host": "lifthus.com",
    "basePath": "/auth",
    "paths": {
        "/auth/google": {
            "post": {
                "description": "validates the google ID token and redirects with hus auth token query.",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "auth"
                ],
                "summary": "Process google auth",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Google ID token",
                        "name": "jwt",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "301": {
                        "description": "to /token"
                    },
                    "400": {
                        "description": "Bad Request"
                    }
                }
            }
        }
    }
}