basePath: /auth
host: lifthus.com
info:
  contact:
    email: lifthus531@gmail.com
    name: API Support
    url: lifthus531@gmail.com
  description: This is Project-Hus's root authentication server containing each user's
    UUID, which is unique for all hus services.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: Project-Hus auth server
  version: 0.0.0
paths:
  /access:
    get:
      description: |-
        validates the google ID token and redirects with hus refresh token to /auth/{token_string}.
        the access token will be expired in 10 minutes.
      parameters:
      - description: Refresh token
        in: header
        name: jwt
        required: true
        type: string
      responses:
        "201":
          description: Access token created
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error
      summary: gets refresh token in the header and returns access token in the cookie
        after validation.
      tags:
      - auth
  /hus:
    post:
      consumes:
      - application/json
      description: |-
        validates the google ID token and redirects with hus refresh token to /auth/{token_string}.
        the refresh token will be expired in 7 days.
      parameters:
      - description: Google ID token
        in: body
        name: jwt
        required: true
        schema:
          type: string
      responses:
        "301":
          description: to /auth/{token_string}
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error
      summary: processes google auth and redirect with refresh token in url.
      tags:
      - auth
  /refresh:
    get:
      description: |-
        validates the google ID token and redirects with hus refresh token to /auth/{token_string}.
        the access token will be expired in 10 minutes.
      parameters:
      - description: Refresh token
        in: header
        name: jwt
        required: true
        type: string
      responses:
        "201":
          description: Access token created
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error
      summary: gets refresh token in the header and returns access token in the cookie
        after validation.
      tags:
      - auth
  /session/check/:service/:sid:
    post:
      description: checks the hus session and tell subservice server if the session
        is valid.
      parameters:
      - description: subservice name
        in: path
        name: service
        required: true
        type: string
      - description: session id
        in: path
        name: sid
        required: true
        type: string
      - description: Hus session token in cookie
        in: header
        name: jwt
        type: string
      responses:
        "200":
          description: Ok
        "401":
          description: Unauthorized
      summary: accepts sid and service name to check if the session is valid.
      tags:
      - auth
  /session/revoke:
    delete:
      description: gets hus session token from cookie and revoke it by deleting it
        from database.
      parameters:
      - description: Hus session token in cookie
        in: header
        name: jwt
        required: true
        type: string
      responses:
        "200":
          description: Ok
        "500":
          description: doesn't have to be handled
      summary: gets hus session token from cookie and revoke it.
      tags:
      - auth
  /social/google/{subservice_name}:
    post:
      consumes:
      - application/json
      description: |-
        validates the google ID token and redirects with hus refresh token to /auth/{token_string}.
        the refresh token will be expired in 7 days.
      parameters:
      - description: Google ID token
        in: body
        name: jwt
        required: true
        schema:
          type: string
      responses:
        "301":
          description: to /error
      summary: gets google IDtoken and redirect with hus session cookie.
      tags:
      - auth
swagger: "2.0"
